<%layout('layouts/boilerplate')%>
<div class="container">
<h4 class="mt-3">Woops, we could not find that</h4>
<h5 class="mb-3">Error 404</h5>
<img class="w-50" src="./img/tumbleweed.jpg" alt="">
</div>
