.password-container{
  // width: 400px;
  position: relative;
}
.password-container input[type="password"],
.password-container input[type="text"]{
  width: 100%;
  // padding: 12px 36px 12px 12px;
  // box-sizing: border-box;
}

.fa-eye{
  position: absolute;
  top: 11px;
  right: 35px;
  cursor: pointer;
  color: lightgray;
}
