* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 0px;
    background-image: url("/img/homeimg2.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    color: white;
}

h1 {
    text-shadow: 1px 1px 2px black;
}
